# ── App ──────────────────────────────────────
SPRING_PROFILES_ACTIVE=prod
JPA_DDL_AUTO=update
TZ=Asia/Ho_Chi_Minh

# ── MySQL ─────────────────────────────────────
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=demo_db

# ── Spring Datasource ─────────────────────────
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/demo_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

# ── Docker Hub ────────────────────────────────
DOCKERHUB_USERNAME=
IMAGE_NAME=